body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;

    //landing page
    //navbar
    .navbar-brand {
        img {
            max-height: 40px;
        }
    }

    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #071C4D;

                &.active {
                    font-weight:bold;
                    color: #071C4D !important;
                }
            }
        }
    }

    .btn-navbar-right {
        margin-top: -10px !important;
        margin-right: -8px !important;
        margin-bottom: -8px !important;

        height: 70px;
        border-radius: 0;
    }

    .btn-login {
        background-color: #071C4D;
        color: #ffffff;

        &:hover {
            background-color: #1b49b4;
            color: #ffffff;
        }
    }

    //header
    header {
        padding: 180px 0 165px;
        margin-top: -70px;
        background-image: url('../images/header.jpg');
        background-size: cover;

        h1, p {
            color: #fff
        }

        h1 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 50px;
        }

        p {
            font-size: 22px;
        }

        .btn-get-started {
            background-color: #f88329;
            color: #fff;

            &:hover {
                background-color: #f8a768;
                color: #fff;
            }
        }
    }

    //statistics
    .section-stats {
        margin-top: -50px;

        .stats-detail {
            padding-top: 15px;
            background: #fff;
            padding-left: 40px;
        }

        h2 {
            font-size: 30px;
            margin-bottom: 0;
        }

        p {
            font-size: 20px;
            font-weight: lighter;
        }
    }

    //popluar
    .section-popluar {
        min-height: 540px;
        background-color: #071C4D;
        margin-top: -50px;
        margin-bottom: -230px;

        .section-popluar-heading {
            margin-top: 150px;

            h2,p {
                color: #fff;
            }

            h2 {
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                font-size: 45px;
            }

            p {
                font-size: 18px;
            }
        }
    }

    .section-popluar-content {
        .section-popluar-travel {
            .card-travel {
                min-height: 380px;
                background-color: rgb(78, 78, 78);
                color: #fff;
                padding: 30px;
                background-size: cover;
                margin-bottom: 20px;
            }

            .travel-country {
                font-size: 18px;
                color: #fff;
            }

            .travel-location {
                font-size: 26px;
                color: #fff;
            }

            .travel-button {
                .btn-travel-details {
                    background-color: #f88329;
                    color: #fff;

                    &:hover {
                        background-color: #f8a768;
                        color: #fff;
                    }
                }
            }
        }           
    }

    .section-networks {
        background-color: #fff;
        margin-top: -170px;
        padding-top: 240px;
        padding-bottom: 50px;

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }

        img {
            max-width: 100%;
        }
    }

    .section-testimonial-heading {
        background: linear-gradient(#fff 0%, #eff1fa 100%);
        padding-top: 50px;
        min-height: 506px;

        h2 {
            font-family: "Playfair Display", serif;
            font-weight: bold;
            font-size: 40px;   
        }

        p {
            font-size: 18px;
        }
    }

    .section-testimonial-content {
        margin-top: -300px;
        padding-bottom: 50px;

        .card-testimonial {
            padding: 40px 20px 10px;
            border-radius: 11px;
            margin-bottom: 20px;

            .testimonial-content {
                min-height: 380px;
            }

            h3 {
                font-size: 22px;
            }

            .testimonial {
                font-weight: 200;
                font-size: 26px;
                color: #6e6e6e;
                min-height: 160px;
            }

            .trip-to {
                font-weight: normal;
                font-size: 22px;
                color: #6e6e6e;
            }

            hr {
                margin-left: -20px;
                margin-right: -20px;
            }
        }

        .btn-get-started {
            background-color: #f88329;
            color: #fff;

            &:hover {
                background-color: #f8a768;
                color: #fff;
            }
        }

        .btn-need-help {
            background-color: #f2f2f2;
            color: #c3c3c3;

            &:hover {
                background-color: #ffffff;
                color: #c3c3c3;
            }
        }
    }

    //footer
    .section-footer {
        a {
            color: #071C4D;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    //detail page
    .section-details-header {
        min-height: 310px;
        background: #E4E6EB;
        margin-top: -70px;
    }

    .section-details-content {
        margin-top: -210px;
        min-height: 100vh;

        .breadcrump {
            padding: 0;
            margin-bottom: 30px;
        }

        .breadcrumb-item {
            &.active {
                font-weight: bold;
                color: #071C4D;
            }
        }

        .card-details {
            padding: 30px;
            border-radius: 11px;
        }

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-weight: 18px;
            color: #b1b1bb;
        }

        h3 {
            font-weight: 300;
            font-size: 14px;
            color: #071C4D;
        }

        .trip-information {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071C4D;

            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1bb;
            }

            .text-blue {
                color: #071C4D;
                font-weight: bold;
            }

            .text-orange {
                color: #f88329;
                font-weight: bold;
            }
        }

        .payment-instructions{
            font-weight: 300;
            font-size: 14px;
            color: #b1b1bb;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #071C4D;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071C4D;
                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1bb;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .btn {
                padding-right: 30px;
                
            }

            }
        }
    }

    .text-muted {
        color: #c2c2c2;
        text-decoration: none;

        &:hover {
            color: #8b8b8b;
            text-decoration: underline;
            
        }
    }

    .btn-add-now {
        background-color: #071C4D;
        color: #fff;

        &:hover {
            background-color: #0d2c75;
            color: #fff;
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;

    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 4px solid #1ABC9C;
                box-shadow: none;
            }
        }
    }

    .members {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }
        
        .join-container {
            margin-top: -16px;
        }

        .btn-join-now {
            background-color: #f88329;
            color: #fff;
            border-radius: 0;

            &:hover {
                background-color: #f8a768;
                color: #fff;
            }
        }

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071C4D;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1bb;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071C4D;
        color: #fff;

        &:hover {
            background-color: #0c2f81;
            color: #fff;
        }
    }
}

.login-container {
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #fff 60%, #E4E6EB 40%);
        width: 100vw;
        height: 100vh;
    }
}

.page-login {
    height: 100vh;

    .btn-login {
        background-color: #f88329;
        color: #fff;

        &hover {
            color: #fff;
        }
    }
    .section-left {
        h1 {
            font-family: "PlayFair Display";
            font-weight: bold;
            font-size: 50px;
            text-align: left;
            color: #071C4D;
        }
    }

    .section-right {
        a {
            font-family: Assistant;
            font-weight: 300;
            text-decoration: underline;
            font-size: 16px;
            text-align: center;
            color: #bfbfbf;
        }
    }
}